<div>
  <i class="material-icons">3d_rotation</i>
  <i class="material-icons">accessibility</i>
  <i class="material-icons">accessible</i>
  <i class="material-icons">account_balance</i>
  <i class="material-icons">account_balance_wallet</i>
  <i class="material-icons">account_box</i>
  <i class="material-icons">account_circle</i>
  <i class="material-icons">add_shopping_cart</i>
  <i class="material-icons">alarm</i>
</div>
<div>
  <md-icon>3d_rotation</md-icon>
  <md-icon>accessibility</md-icon>
  <md-icon>accessible</md-icon>
  <md-icon>account_balance</md-icon>
  <md-icon>account_balance_wallet</md-icon>
  <md-icon>account_box</md-icon>
  <md-icon>account_circle</md-icon>
  <md-icon>add_shopping_cart</md-icon>
  <md-icon>alarm</md-icon>
</div>
